

/* Set padding to keep content from hitting the edges */

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}
.form-horizontal{
    padding-top:10px;
    padding:10px;
}



.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
li.livesearchli img{
    width:40px;;
    height:50px;

}
ul#livesearch{
    background-color:#808080;
    position:relative;
   
}
ul#livesearch li{
    padding:5px;
    color:#f8f8f8;
}
ul#livesearch li a{
  color:#f8f8f8;
}
ul#livesearch li.close{
    color:#f8f8f8;
  
}
img#img-user{
   margin-top: 79px;
      
}
div.NameMain{
          margin-top:20px;
        color: #fff;
           text-rendering: optimizelegibility;
           text-shadow: 0 0 3px rgba(0,0,0,.8);
          font-weight:bold;
          font-family:inherit;
          font-size:medium;
}
span.frnoti.red{
    color:red;
    cursor:pointer;
}
li.msgnotili img{
    width:40px;
    height:40px;
}
li.msgnotifli{
    list-style:none;
    width:auto;
    display:inline-block;

}
ul#msgnotiul{
    position:absolute;
    background:rgba(0,0,0,.8);
    top:55px;
}
textarea#msgarea{
    width:400px;
    height:100px;
    border:2px solid blue;
    padding:10px;
    bottom:40px;
}
a#sendmsg.ta{

 
    border:1px solid green;
    background:green;
    display:block;
    padding:10px;
    width:150px;
    font-weight:bold;
    text-align:center;
    margin-top:10px;
}
div.wallsayMsg {
   margin-top: -300px;
    margin-left: 200px;
}

textarea#say{
     width:400px;
    height:100px;
    border:2px solid blue;
    padding:10px;
    bottom:40px;
}
a#saymsg.ta{

 
    border:1px solid green;
    background:green;
    display:block;
    padding:10px;
    width:150px;
    font-weight:bold;
    text-align:center;
    margin-top:10px;
}
div.sendMsgParent{
   margin-left: -56px;
    margin-top: 15px
}